<p id="notice"><%= notice %></p>

<p>
  <strong>Ldap:</strong>
  <%= @task.ldap %>
</p>

<p>
  <strong>Instruction:</strong>
  <%= @task.instruction %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
