<p id="notice"><%= notice %></p>


 <%= render 'layouts/header' %>
 <h1>Listing Tasks</h1>
  <!--the line below is taken from a template and I added a class-->

    <!--the line below is taken from a template-->
    <div class="container-fluid "  >
        <!--the line below is taken from a template-->
        <div class="row">
            
            

   <!--p > <i class="fa fa-user"></i><%#= " Hey:   #{@user_first_name}   and  #{@user_email}  "%></p>
   <%# if @user_email.include? "vadimmalakhovski" %>
    <p > <i class="fa fa-user"></i><%#= " Yes:   #{@user_first_name}   and  #{@user_email}  "%></p>
    <%# if @user_email.include? "taskmaster" && user @user_first_name =='Vadim'  then render the button below%>

    
    <p > <i class="fa fa-user"></i><%#= " ldap #{@tasks}  "%></p-->
      <%#=request.original_url%>
    
      <%#change on deployment%>
     <%#if request.original_url== 'https://adsup-vadimmalakhovski.c9users.io/logout' %>
     <%#if request.original_url== 'https://adsup.herokuapp.com/logout' %>
     
      <%#elsif request.original_url== 'https://adsup-vadimmalakhovski.c9users.io/' %>
     <%#elsif request.original_url== 'https://adsup.herokuapp.com/' %>
     <% if current_user%> 
    
    
     
      <%#end%>

  <h2 class="title">All Tasks</h2>
                      <br>
                      <div class="card">
                       <div class="header">
                        <h4 class="title">Tasks Table</h4>
                       
                        <br>
                    </div>
                    <div class="content table-responsive table-full-width">
                        
                        <% if @tasks.length == 0 %>
<!--empty filter error-->
<div id="empty" >
    <h2>At this very moment, 
        <br><br>
        there are no tasks
        <br><br>
    created for you yet</h2>  
</div>
<% else %>



                      <table class="table table-hover table-striped">
                          
                        <thead>
                            <tr>
            
            <th class="text-left">LDAP</th>
            <th class="text-left">TASK</th>
            <th class="text-left">STATUS</th>
            <th class="text-left">Created At</th>
            <th class="text-left">Updated At</th>
            <th colspan="4">Edit / Delete</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <% @tasks.each do |task| %>
        <tr>                                      
            
                <td class="text-left"><%= task.ldap %></td>
                <td class="text-left"><%= task.instruction %></td>
                <td class="text-left"><%= task.status %></td>
                <td class="text-left"><%= task.created_at%></td> 
                <td class="text-left"><%= task.updated_at%></td> 
                <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                
                   <tr> 
                    <% end %>
                            </tbody>
                        </table>
                       
                    </div>
                    
           
                
     
      <%end%>
     
          <% end %>   

    
                    <div class="footer">
                        <hr>
                        <div class="stats">
                            <i class="fa "></i> Communication
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>







<%= render 'layouts/footer' %>


</div>
</div>

<table>
  <thead>
    <tr>
      <th>Ldap</th>
      <th>Instruction</th>
      <th>Status</th>
      <th>Timestamp</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.ldap %></td>
        <td><%= task.instruction %></td>
        <td><%= task.status %></td>
        <td><%#= task.timestamps %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

